@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body, html {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: #455a64;
}
a:link, a:active, a:hover, a:visited {
  text-decoration: inherit;
  color: inherit;
}

nav {
  background: #182a32;
  padding: 5px 10px;
  position: relative;
  z-index: 1000;
}
nav span {
  font-size: 18px;
}
nav span:hover {
  text-decoration: underline;
  cursor: pointer;
}

td {
  border: solid #d9d9d9 thin;
  background: #455a64;
  border-radius: 2px;
  margin: 10px;
  position: relative;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown:hover .dropdown-content {
  display: block;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h5 {
  margin: 0px;
  font-size: 1.4em;
  font-weight: 700;
}

p {
  font-size: 12px;
}

.cards {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* End Non-Essential  */
.property-card {
  margin: 5px;
  height: 18em;
  width: 14em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 0 5px black;
}

/* ^-- The margin bottom is necessary for the drop shadow otherwise it gets clipped in certain cases. */
/* Top Half of card, image. */
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  padding-top: 5px;
}
.dropdown-content > div {
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background-color: #1b3039;
  border: 2px #14242b solid;
  border-radius: 2px;
  padding: 12px 16px;
}
.dropdown-content > div > ul {
  display: inline-block;
  list-style: none;
  padding: 0;
}
.dropdown-content > div > ul:first-child {
  margin-right: 50px;
}

.backgroundAnim > div,
.backgroundAnim div::before,
.backgroundAnim div::after {
  content: "";
  position: absolute;
  transform-origin: top;
  transition: all 5s linear 0s;
}

.white {
  animation: white linear 30s alternate infinite;
  border: 2px solid #FFFFFF;
  border-radius: 100%;
  width: 33px;
  height: 33px;
  transform: translate3d(12vw, 45vh, 0);
  z-index: 4;
}

.white::before {
  animation: white-pseudo linear 15s alternate infinite;
  background: #FFFFFF;
  border: 2px solid #FFFFFF;
  width: 23px;
  height: 19px;
  transform: translate3d(25vw, -17vh, 0) rotate(279deg);
}

.white::after {
  animation: white-pseudo linear 20s alternate infinite;
  border: 2px solid #FFFFFF;
  width: 20px;
  height: 37px;
  transform: translate3d(46vw, -22vh, 0) rotate(53deg);
}

@keyframes white {
  50% {
    transform: translate3d(2vw, 24vh, 0);
  }
  100% {
    transform: translate3d(94vw, 40vh, 0);
  }
}
@keyframes white-pseudo {
  33% {
    transform: translate3d(5vw, 48vh, 0) rotate(45deg);
  }
  100% {
    transform: translate3d(-65vw, 56vh, 0) rotate(108deg);
  }
}
.medium-blue {
  animation: medium-blue linear 30s alternate infinite;
  border: 2px solid #1b3039;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  transform: translate3d(26vw, 40vh, 0);
  z-index: 8;
}

.medium-blue::before {
  animation: medium-blue-pseudo linear 15s alternate infinite;
  background: #1b3039;
  border: 2px solid #1b3039;
  width: 32px;
  height: 19px;
  transform: translate3d(-17vw, -35vh, 0) rotate(188deg);
}

.medium-blue::after {
  animation: medium-blue-pseudo linear 20s alternate infinite;
  border: 2px solid #1b3039;
  width: 25px;
  height: 23px;
  transform: translate3d(42vw, 17vh, 0) rotate(7deg);
}

@keyframes medium-blue {
  50% {
    transform: translate3d(64vw, 17vh, 0);
  }
  100% {
    transform: translate3d(98vw, 80vh, 0);
  }
}
@keyframes medium-blue-pseudo {
  33% {
    transform: translate3d(-56vw, 19vh, 0) rotate(163deg);
  }
  100% {
    transform: translate3d(-91vw, -14vh, 0) rotate(245deg);
  }
}
.light-blue5 {
  animation: light-blue5 linear 30s alternate infinite;
  border: 2px solid #445963;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  transform: translate3d(85vw, 40vh, 0);
  z-index: 7;
}

.light-blue5::before {
  animation: light-blue5-pseudo linear 15s alternate infinite;
  background: #445963;
  border: 2px solid #445963;
  width: 35px;
  height: 12px;
  transform: translate3d(-53vw, 18vh, 0) rotate(117deg);
}

.light-blue5::after {
  animation: light-blue5-pseudo linear 20s alternate infinite;
  border: 2px solid #445963;
  width: 49px;
  height: 8px;
  transform: translate3d(-69vw, 10vh, 0) rotate(331deg);
}

@keyframes light-blue5 {
  50% {
    transform: translate3d(19vw, 76vh, 0);
  }
  100% {
    transform: translate3d(15vw, 44vh, 0);
  }
}
@keyframes light-blue5-pseudo {
  33% {
    transform: translate3d(-9vw, 18vh, 0) rotate(293deg);
  }
  100% {
    transform: translate3d(13vw, -32vh, 0) rotate(251deg);
  }
}
.light-blue4 {
  animation: light-blue4 linear 30s alternate infinite;
  border: 2px solid #708690;
  border-radius: 100%;
  width: 5px;
  height: 5px;
  transform: translate3d(49vw, 23vh, 0);
  z-index: 2;
}

.light-blue4::before {
  animation: light-blue4-pseudo linear 15s alternate infinite;
  background: #708690;
  border: 2px solid #708690;
  width: 36px;
  height: 26px;
  transform: translate3d(-49vw, 66vh, 0) rotate(286deg);
}

.light-blue4::after {
  animation: light-blue4-pseudo linear 20s alternate infinite;
  border: 2px solid #708690;
  width: 6px;
  height: 42px;
  transform: translate3d(-40vw, -5vh, 0) rotate(300deg);
}

@keyframes light-blue4 {
  50% {
    transform: translate3d(43vw, 76vh, 0);
  }
  100% {
    transform: translate3d(12vw, 86vh, 0);
  }
}
@keyframes light-blue4-pseudo {
  33% {
    transform: translate3d(-8vw, -39vh, 0) rotate(176deg);
  }
  100% {
    transform: translate3d(52vw, -55vh, 0) rotate(263deg);
  }
}
.light-blue3 {
  animation: light-blue3 linear 30s alternate infinite;
  border: 2px solid #9fb6c0;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  transform: translate3d(39vw, 32vh, 0);
  z-index: 2;
}

.light-blue3::before {
  animation: light-blue3-pseudo linear 15s alternate infinite;
  background: #9fb6c0;
  border: 2px solid #9fb6c0;
  width: 27px;
  height: 16px;
  transform: translate3d(-4vw, 63vh, 0) rotate(112deg);
}

.light-blue3::after {
  animation: light-blue3-pseudo linear 20s alternate infinite;
  border: 2px solid #9fb6c0;
  width: 36px;
  height: 43px;
  transform: translate3d(8vw, 17vh, 0) rotate(359deg);
}

@keyframes light-blue3 {
  50% {
    transform: translate3d(6vw, 58vh, 0);
  }
  100% {
    transform: translate3d(29vw, 7vh, 0);
  }
}
@keyframes light-blue3-pseudo {
  33% {
    transform: translate3d(21vw, -2vh, 0) rotate(285deg);
  }
  100% {
    transform: translate3d(16vw, 69vh, 0) rotate(100deg);
  }
}
.light-blue2 {
  animation: light-blue2 linear 30s alternate infinite;
  border: 2px solid #d0e8f3;
  border-radius: 100%;
  width: 38px;
  height: 38px;
  transform: translate3d(42vw, 85vh, 0);
  z-index: 12;
}

.light-blue2::before {
  animation: light-blue2-pseudo linear 15s alternate infinite;
  background: #d0e8f3;
  border: 2px solid #d0e8f3;
  width: 12px;
  height: 35px;
  transform: translate3d(51vw, -75vh, 0) rotate(20deg);
}

.light-blue2::after {
  animation: light-blue2-pseudo linear 20s alternate infinite;
  border: 2px solid #d0e8f3;
  width: 22px;
  height: 30px;
  transform: translate3d(56vw, -47vh, 0) rotate(220deg);
}

@keyframes light-blue2 {
  50% {
    transform: translate3d(50vw, 65vh, 0);
  }
  100% {
    transform: translate3d(85vw, 18vh, 0);
  }
}
@keyframes light-blue2-pseudo {
  33% {
    transform: translate3d(8vw, -28vh, 0) rotate(245deg);
  }
  100% {
    transform: translate3d(-64vw, 68vh, 0) rotate(143deg);
  }
}

/*# sourceMappingURL=index.css.map */
